{%extends 'head.html'%}

{%block content%}




    <div class="add">
        <p><a href="/post-create">Dodaj posta</a></p>
    </div>
    <div class="posts">
        {%for instance in queryset%}
            {%if instance.user in friends or instance.user == request.user%}
                <div class="post">
                    <div class="user">
                        <img src="{{instance.user.account.image.url}}"/>
                        <a href="{{instance.user.account.get_absolute_url}}">
                            {{instance.user.first_name}} {{instance.user.last_name}}</a></br>
                            {{instance.date}}
                    </div>
                <div class="conent">
                    </br>{{instance.content}}
                </div>
                {%if instance.photo%}
                    <div class="photo">
                        <img class="post_photo"src="{{instance.photo.url}}"/>
                    </div>
                {%endif%}
                    {{instance.likes.count}}
                    <a href="{{instance.get_like_url}}">
                        like
                    </a>|
                    <a href="{{instance.get_absolute_url}}">
                        comment
                    </a>
            {%endif%}
            {%endfor%}
    </div>
        </div>
{%endblock%}