<!DOCTYPE HTML>
<html lang = "pl">

<head>
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    </head>
    <body>
    <div class="navbar">
        <p><a href="/">Zaproszenia</a> <a href="/">Profil</a> <a href="/">Ustawienia</a ><a href="/">Strona główna</a></p>
    </div>
    <div class="content">
        {%block content%}
        replace me
        {%endblock%}
    </div>

    </body>
</html>